/* Root */
 :root {
  --main-shadow: 0px 0px 10px #ddd;
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-Tduration: 0.3s;
  --Section-Padding-Top: 100px;
  --Section-Padding-Bottom: 100px;
}
/* Root */
/* Global Rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

h1.main-heading {
  margin: 0 auto 50px;
  width: fit-content;
  padding: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.8em;
  border: 2px solid #000;
  position: relative;
  z-index: 1;
}

h1.main-heading::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #2196f3;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -30px;
}

h1.main-heading::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #2196f3;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: -30px;
}

h1.main-heading:hover {
  color: #fff;
  border: 2px solid #fff;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

h1.main-heading:hover::after {
  z-index: -1;
  animation: right-fill 0.5s linear forwards;
  -webkit-animation: right-fill 0.5s linear forwards;
}

h1.main-heading:hover::before {
  z-index: -1;
  animation: left-fill 0.5s linear forwards;
  -webkit-animation: left-fill 0.5s linear forwards;
}

@keyframes right-fill {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50.1%;
    height: 100%;
}
}

@keyframes left-fill {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
}
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/* Global Rules  */
/* Start Header  */
header {
  box-shadow: var(--main-shadow);
  background-color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  height: 72px;  
  display: flex;
  align-items: center;
}

header .container nav {
  display: flex;
  min-height: 72.2px;
}

header .container nav ul {
  display: flex;
}

header .container nav > ul > li:hover .mega-menu {
  opacity: 1;
  z-index: 1100;
  top: calc(100% + 1px);
}

header .container nav > ul > li > a {
  font-size: 18px;
  color: inherit;
  transition: color var(--main-Tduration);
  -webkit-transition: color var(--main-Tduration);
  -moz-transition: color var(--main-Tduration);
  -ms-transition: color var(--main-Tduration);
  -o-transition: color var(--main-Tduration);
  height: 72px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
  padding: 0 30px;
}

@media (max-width: 767px) {
  header .container nav > ul > li > a {
    font-size: 14px;
    padding: 0 15px;
  }
}

header .container nav > ul > li > a::after {
  content: '';
  height: 5%;
  width: 100%;
  background-color: #1787e0;
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-Tduration);
  -webkit-transition: var(--main-Tduration);
  -moz-transition: var(--main-Tduration);
  -ms-transition: var(--main-Tduration);
  -o-transition: var(--main-Tduration);
}

header .container nav > ul > li > a:hover {
  background-color: #f6f6f6;
  color: var(--main-color-alt);
}

header .container nav > ul > li > a:hover::after {
  left: 0;
}

@media (max-width: 768px) {
  header .container {
    justify-content: center;
  }

  header .logo {
    margin: 0 auto;
  }
}

header .mega-menu {
  position: absolute;
  display: flex;
  left: 0;
  top: calc(100% + 50px);
  z-index: -1;
  opacity: 0;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 4px solid var(--main-color);
  border-top: 1px solid #ececec;
  transition: top var(--main-Tduration), opacity var(--main-Tduration);
  -webkit-transition: top var(--main-Tduration), opacity var(--main-Tduration);
  -moz-transition: top var(--main-Tduration), opacity var(--main-Tduration);
  -ms-transition: top var(--main-Tduration), opacity var(--main-Tduration);
  -o-transition: top var(--main-Tduration), opacity var(--main-Tduration);
}

header .mega-menu ul.links {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 300px;
}

header .mega-menu ul.links li:last-child a {
  border-bottom: none;
}

header .mega-menu ul li {
  display: flex;
}

header .mega-menu ul.links a {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}

header .mega-menu ul.links a::after {
  content: '';
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #eee;
  z-index: -1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: var(--main-Tduration);
  -webkit-transition: var(--main-Tduration);
  -moz-transition: var(--main-Tduration);
  -ms-transition: var(--main-Tduration);
  -o-transition: var(--main-Tduration);
}

header .mega-menu ul.links a:hover::after {
  left: 0;
}

header .mega-menu ul.links a i {
  padding-right: 30px;
}

header .mega-menu img {
  max-width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .mega-menu img {
    width: 400px;
  }
  
  header .mega-menu ul.links a {
    padding: 20px;
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  header .mega-menu img {
    display: none;
  }
}

@media (max-width: 767px) {
  header .mega-menu{
    flex-direction: column;
  }

  header .mega-menu ul.links {
    width: 100%;
  }

  header .mega-menu ul.links:first-of-type li:last-child a  {
    border-bottom: 1px solid #ececec;
  }

  header .mega-menu ul.links:first-of-type {
    position: relative;
    margin-bottom: 15px;
  }

}
/* End Header  */

/* Start Landing */
.landing {
  position: relative;
}

.landing .container { 
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing i.go-down {
  position: absolute;
  color: var(--main-color);
  cursor: pointer;
  animation: down-spin 1.3s linear infinite;
  -webkit-animation: down-spin 1.3s linear infinite;
  width: 100px;
  bottom: 30px;
  text-align: center;
  left: 50%;
  margin-left: -50px;
}

@keyframes down-spin {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

.landing::after {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .image img {
  width: 1000px;
  max-width: 100%;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: float;
}

@keyframes float {
  from {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  
  to {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }
}

.landing .text {
  padding: 20px;
}

.landing .text h1 {
  font-size: 46px;
  margin: 0 0 10px;
}

.landing .text p {
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 991px) {
  .landing .container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
  }

  .landing .container h1 {
    font-size: 40px;
  }

  .landing .container img {
    width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .landing .container img {
    width: 1000px;
  }

  .landing .container h1 {
    font-size: 38px;
  }
}

/* End Landing */

/* Start Articles */
.art {
  padding-top: var(--Section-Padding-Top);
  padding-bottom: var(--Section-Padding-Bottom);
}

.art .container .art-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px 0;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .art .container .art-container {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .art .container .art-container {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .art .container .art-container {
    flex-basis: 25%;
  }
}

.art .container .art-container .box {
  width: 260px;
  box-shadow: -5px 0px 15px 10px #e6e3e3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  transition: var(--main-Tduration);
  -webkit-transition: var(--main-Tduration);
  -moz-transition: var(--main-Tduration);
  -ms-transition: var(--main-Tduration);
  -o-transition: var(--main-Tduration);
  cursor: pointer;
}

.art .container .art-container .box:hover {
  bottom: 10px;
}

.art .container .art-container .box:hover i {
  animation: Go infinite 0.3s linear forwards;
  -webkit-animation: Go infinite 0.3s linear forwards;
}

.art .container .art-container .box img {
  max-width: 100%;
}

.art .container .art-container .box .text {
  padding: 15px 20px;  
  border-bottom: 2px solid #e6e3e3;
  flex-grow: 1;
}

.art .container .art-container .box .text h3 {
  flex-grow: 1;
  font-size: 22px;
  margin: 0 0 10px;
}
.art .container .art-container .box .text p {
  color: #777;
  line-height: 1.6;
  text-transform: capitalize;
}

.art .container .art-container .box a {
  padding: 15px 20px;  
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  color: var(--main-color);
  font-weight: bold;
}

.art .container .art-container .box a i {
  color: inherit;
}

@keyframes Go {
  from {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}

  to {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding-top: var(--Section-Padding-Top);
  padding-bottom: var(--Section-Padding-Bottom);
  background-color: #f6f6f6;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

@media (max-width: 767px) {
  .gallery .container {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gallery .container {
    flex-basis: 66.6;
  }
}

@media (min-width: 992px) {
  .gallery .container {
    flex-basis: 33.3%;
  }
}

.gallery .container .img {
  width: 350px;
  border: 15px solid #fff;
  overflow: hidden;
  position: relative;
}

.gallery .container .img:hover::after {
  animation: Flashing 0.7s;
  -webkit-animation: Flashing 0.7s;
}

.gallery .container .img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
}

@keyframes Flashing {
  0%, 40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.gallery .container .img img {
  max-width: 100%;
  transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transition: var(--main-Tduration);
  -webkit-transition: var(--main-Tduration);
  -moz-transition: var(--main-Tduration);
  -ms-transition: var(--main-Tduration);
  -o-transition: var(--main-Tduration);
}

  .gallery .container .img:hover img {
    transform: rotate(6deg) scale(1.1);
    -webkit-transform: rotate(6deg) scale(1.1);
    -moz-transform: rotate(6deg) scale(1.1);
    -ms-transform: rotate(6deg) scale(1.1);
    -o-transform: rotate(6deg) scale(1.1);
}
/* End Gallery */

/* Start Features */

/* End Features */






























































































































































































































































































































